
@{
    ViewBag.Title = Resource.ResetPassword;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <h1>@Resource.ResetPassword</h1>
                <p>@Html.Raw(string.Format(Resource.ResetPasswordSuccessMsg, Html.ActionLink(Resource.ClickHereToLogin, "Login", "Account"))).</p>
            </section>
        </div>
    </div>
</div>