@model List<Frontend.Models.ProductBoxViewModel>

<div class="product-div">
    <h2 class="decorated product-title">
        <span>
            <a href="/">@Resource.ProductSameBrand</a>
        </span>
    </h2>
    <div class="">
        <div class="productslider">
            @for (int i = 0; i < Model.Count; i++)
            {
                @Html.DisplayFor(m => m[i])
            }
        </div>
    </div>
</div>