@model Frontend.Models.ProductGroupAdViewModel
@using Frontend.Infrastructure.Helpers
@using Admin.Infrastructure.Helpers

@{
    string themeHomeViewPath = "~/Themes/" + TabWeb.GetCurrentTheme() + "/Views/Home/{0}.cshtml";
}

<section class="home-sk">
    <h2 class="home-about_title">Bộ sưu tập tranh ghép gốm nguyên thủ quốc gia từ APEC 2017</h2>
    <div class="home-sk_desc">
        <p>Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. A lacus vestibulum sed arcu non odio euismod. Vitae tempus quam pellentesque nec nam aliquam. Libero enim sed faucibus turpis in eu mi bibendum. Aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat.</p>
    </div>
    <div>
        <a href="http://" class="text-uppercase link link-active font-small pl-0">XEM TRỌN BỘ SƯU TẬP  <i class="fas fa-caret-right"></i></a>
    </div>
    <div class="home-sk_list">
        <div class="home-sk_item card-product">
            <a href="/sultan-haji-hassanal-bolkiah---duc-vua-vuong-quoc-brunei-darussalam" class="thumnails-template hover-ef-1">
                <div class="thumnails-content thumb-img">
                    <img src="/Content/UserFiles/Images/ArtGifts/Products/AP%2000245%202%20Brunei_S.jpg" class="img-fluid" alt="Sultan Haji Hassanal Bolkiah - Đức Vua Vương quốc Brunei Darussalam">
                </div>
            </a>
            <div class="card-product--name text-center">
                <a href="/sultan-haji-hassanal-bolkiah---duc-vua-vuong-quoc-brunei-darussalam">Sultan Haji Hassanal Bolkiah - Đức Vua Vương quốc Brunei Darussalam</a>
            </div>
            <p class="card-product--author text-center"></p>
            <p class="card-product--type text-center">
                Chất liệu tranh gốc: <span class="color-active"> Tranh goc </span>
            </p>
            <div class="button_link m-auto mt-2">
                <a href="#" class="text-uppercase">ĐẶT IN <i class="fas fa-caret-right"></i></a>
            </div>
        </div>
        <div class="home-sk_item card-product">
            <a href="/sultan-haji-hassanal-bolkiah---duc-vua-vuong-quoc-brunei-darussalam" class="thumnails-template hover-ef-1">
                <div class="thumnails-content thumb-img">
                    <img src="/Content/UserFiles/Images/ArtGifts/Products/AP%2000245%202%20Brunei_S.jpg" class="img-fluid" alt="Sultan Haji Hassanal Bolkiah - Đức Vua Vương quốc Brunei Darussalam">
                </div>
            </a>
            <div class="card-product--name text-center">
                <a href="/sultan-haji-hassanal-bolkiah---duc-vua-vuong-quoc-brunei-darussalam">Sultan Haji Hassanal Bolkiah - Đức Vua Vương quốc Brunei Darussalam</a>
            </div>
            <p class="card-product--author text-center"></p>
            <p class="card-product--type text-center">
                Chất liệu tranh gốc: <span class="color-active"> Tranh goc </span>
            </p>
            <div class="button_link m-auto mt-2">
                <a href="#" class="text-uppercase">ĐẶT IN <i class="fas fa-caret-right"></i></a>
            </div>
        </div>
        <div class="home-sk_item card-product">
            <a href="/sultan-haji-hassanal-bolkiah---duc-vua-vuong-quoc-brunei-darussalam" class="thumnails-template hover-ef-1">
                <div class="thumnails-content thumb-img">
                    <img src="/Content/UserFiles/Images/ArtGifts/Products/AP%2000245%202%20Brunei_S.jpg" class="img-fluid" alt="Sultan Haji Hassanal Bolkiah - Đức Vua Vương quốc Brunei Darussalam">
                </div>
            </a>
            <div class="card-product--name text-center">
                <a href="/sultan-haji-hassanal-bolkiah---duc-vua-vuong-quoc-brunei-darussalam">Sultan Haji Hassanal Bolkiah - Đức Vua Vương quốc Brunei Darussalam</a>
            </div>
            <p class="card-product--author text-center"></p>
            <p class="card-product--type text-center">
                Chất liệu tranh gốc: <span class="color-active"> Tranh goc </span>
            </p>
            <div class="button_link m-auto mt-2">
                <a href="#" class="text-uppercase">ĐẶT IN <i class="fas fa-caret-right"></i></a>
            </div>
        </div>
    </div>
</section>
