$color-primary: #dc0000;

$font-default: "Muli", sans-serif;
$font-utm-libel: "UTM Libel KT", sans-serif;
$font-yanone-kaffeesatz: "Yanone Kaffeesatz", sans-serif;
$font-ms-reference-serif: "MS Reference Serif", sans-serif;

$color-border: #e2e1e0;
$color-main: #0a0a0a;
$color-active: #dc0606;
