@model Frontend.Models.CheckoutViewModel
@{
    ViewBag.Title = Resource.Checkout;
}

<div class="page-checkout-info box-container" id="checkout_page">
    <div class="box-checkout">
        <div class="box-header">
            <div class="box-icon">
                <img src="~/Themes/MNShop/images/icons/cart-1.svg" alt="MN Shop" />
            </div>
            <h3 class="box-title">THÔNG TIN NHẬN HÀNG</h3>
        </div>
        <div class="box-body">
            <label><input type="text" name="@Html.NameFor(m => m.Order.Email)" :value="fullName" /></label>
            <div class="box-row">
                <div class="box-col box-input">
                    <label for="name">Họ và tên</label>
                    <input type="text" class="input-default" v-model="fullName"/>
                </div>
                <div class="box-col box-input">
                    <label for="name">Email:</label>
                    <input type="text" class="input-default" />
                </div>
            </div>
            <div class="box-row">
                <div class="box-col box-input">
                    <label for="name">Điện thoại người nhận:</label>
                    <input type="text" class="input-default" />
                </div>
                <div class="box-col box-input">
                    <label for="name">Điện thoại người nhận 2:</label>
                    <input type="text" class="input-default" />
                </div>
            </div>
            <div class="box-row">
                <div class="box-col box-select">
                    <label for="province">Tỉnh/Thành phố:</label>
                    <select v-model="selectedProvince" v-on:change="provinceChanged" class="box-select">
                        <option disabled value="">Chọn tỉnh thành -</option>
                        <option v-for="province in provinces" :key="province.Value" :value="province.Value">
                            {{ province.Text }}
                        </option>
                    </select>
                </div>
                <div class="box-col box-select">
                    <label for="district">Quận/Huyện:</label>
                    <select v-model="selectedDistrict" v-on:change="districtChanged" class="box-select" aria-label="District select">
                        <option disabled value="">Chọn quận huyện -</option>
                        <option v-for="district in districts" :value="district.Value" :key="district.Value">{{ district.Text }}</option>
                    </select>
                </div>
                <div class="box-col box-select">
                    <label for="ward">Phường/Xã:</label>
                    <select v-model="selectedWard" class="box-select" aria-label="Ward select">
                        <option disabled value="">Chọn phường xã -</option>
                        <option v-for="ward in wards" :value="ward.Value" :key="ward.Value">{{ ward.Text }}</option>
                    </select>
                </div>
            </div>
            <div class="box-row">
                <div class="box-col box-input">
                    <label for="customerAddress">Địa chỉ chi tiết:</label>
                    <input type="text" class="input-default" id="customerAddress" value="@Model.Order.CustomerAddress" name="customerAddress" />
                </div>
            </div>
        </div>
        <div class="box-footer">
            <p><strong>Lưu ý:</strong></p>
            <p>
                Volutpat est velit egestas dui id ornare arcu odio. Sagittis id consectetur purus ut. Risus pretium quam
                vulputate dignissim. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus.
            </p>
        </div>

    </div>
    <div class="box-payment">
        <div class="box-header">
            <div class="box-icon">
                <img src="~/Themes/MNShop/images/icons/cart-2.svg" alt="MN Shop" />
            </div>
            <h3 class="box-title">PHƯƠNG THỨC THANH TOÁN</h3>
        </div>
        <div class="box-body">
            <div class="box-row">
                <div class="box-col">
                    <div class="payment-type --checked">
                        <div class="payment-check --checked"></div>
                        <div class="payment-type--content">
                            <h4>Thanh toán khi nhận hàng</h4>
                            <p>Quý khách sẽ thanh toán bằng tiền mặt khi nhận được hàng</p>
                        </div>
                        <div class="payment-type--icon">
                            <img src="~/Themes/MNShop/images/icons/cart-4.svg" alt="MN Shop" />
                        </div>
                    </div>
                </div>
                <div class="box-col">
                    <div class="payment-type">
                        <div class="payment-check"></div>
                        <div class="payment-type--content">
                            <h4>Chuyển khoản ngân hàng</h4>
                            <p>Quý khách chuyển khoản trực tiếp đến tài khoản chúng tôi</p>
                        </div>
                        <div class="payment-type--icon">
                            <img src="~/Themes/MNShop/images/icons/cart-5.svg" alt="MN Shop" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-row payment-info">
                <div class="payment-info--item">
                    <h3>Vietcombank Tp. Hồ Chí Minh</h3>
                    <div class="payment-info--item_content">
                        <p>Chủ tài khoản: Phạm Thái Nhân</p>
                        <p>Chủ tài khoản: Phạm Thái Nhân</p>
                        <p>Chủ tài khoản: Phạm Thái Nhân</p>
                    </div>
                </div>
                <div class="payment-info--item">
                    <h3>Vietcombank Tp. Hồ Chí Minh</h3>
                    <div class="payment-info--item_content">
                        <p>Chủ tài khoản: Phạm Thái Nhân</p>
                        <p>Chủ tài khoản: Phạm Thái Nhân</p>
                        <p>Chủ tài khoản: Phạm Thái Nhân</p>
                    </div>
                </div>
            </div>
            <div class="box-row payment-checkbox">
                <input type="checkbox" name="" id="">
                <p>Tôi đồng ý với <a href="#">Điều khoản thanh toán</a> của <strong>Khai Tâm Montessori</strong></p>
            </div>
        </div>
    </div>
</div>



